*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;
    --bg-color: #0F172A;
    --stroke-color: #1E293B;
    --texr-color-primary: #F1F5F9;
    --text-color-secundary: #CBD5E1;
}

body{
    color: var(--texr-color-primary);
    background-color: var(--bg-color);
}