*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;
    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;
    --font-family-1: 'Asap', sans-serif;
    --font-family-2: 'Inconsolata', sans-serif;
    --font-family-3: 'Maven Pro', sans-serif;
    --title-lg: 600 56px/120% var(--font-family-1);
    --title-md: 600 24px/120% var(--font-family-1);
    --title-sm: 600 16px/120% var(--font-family-1);
    --subtitle: 400 20px/120% var(--font-family-2);
    --text-md: 400 16px/140% var(--font-family-3);
    --text-sm: 400 14px/140% var(--font-family-3);
}

body{
    background-color: var(--gray-600);
    color: var(--gray-100);
}

.red{
    color: var(--red);
}

.title-lg{
    font-family: var(--title-lg);
    color: var(--gray-100);
    margin-bottom: 20px;
}

.text-sm{
    font-family: var(--text-sm);
}

.subtitle{
    font-family: var(--subtitle);
    margin-bottom: 8px;
}